.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333; /* Add your desired background color */
    padding: 10px;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navitem {
    color: white; /* Add your desired text color */
    text-decoration: none;
    cursor: pointer;
}

.navitem:hover {
    color: #61dafb; /* Add your desired text color on hover */
}

.active {
    color: #61dafb; /* Add your desired text color for the active link */
}
