.sticky-header {
    position: sticky;
    top: 0;
    background-color: #333; 
    padding: 10px;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navitem {
    color: white; 
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navitem:hover {
    color: lightgray; 
}

