.line{
    margin-top: -30px;
    text-align: center;
    font: bold;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.project{
    background-color: lightgray;
    padding: 25px;
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
    background-color: lightgray;
    padding: 25px;
}

.project-box {
    border-radius: 15px;
    background-color: white;
    border: 1px solid #000000;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
.project-box:hover {
    transform: scale(1.05);
}
  
.project-img img {
    max-width: 225px;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
  
.project-content {
    margin-top: 5px;
}

.project-title {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.project-category {
    color: #3498db;
}

.project-text {
    max-width: 225px;
    max-height: 150px;
    font-weight: 300;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.project-text::before {
    content: '';
    margin: 0 10px;
    color: #bdc3c7;
}